.fa-star {
    font-size: 1.5rem;
    color: #E3E3E3;
}

.fa-star.colored {
    color: #FF6060;
    font-size: 1.5rem;
}

@media screen and (max-width: 650px) {
    .fa-star,
    .fa-star.colored {
        font-size: 1rem;
    }
}