.collapsible {
    margin: 2rem 4rem;
}

.collapsibleArticle {
    max-width: 64rem;
    margin: 2rem auto;
}

.isClose {
    display: none;
}

.collapsibleVisible {
    background-color: #FF6060;
    border-radius: 0.3125rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    height: 3rem;
    width: 64rem;
}

.collapsibleVisible>h3 {
    color: #fff;
    font-size: 1.5rem;
    margin: 0;
    padding: .7rem 1rem;
}

.collapsibleVisible>.fa-chevron-down {
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 0.7rem 1rem;
}

.collapsibleContent {
    background: #F7F7F7;
    border-radius: 0.32rem;
    height: 100%;
    max-width: 64rem;
}

.collapsibleContent>p {
    color: #FF6060;
    font-size: 1.5rem;
    margin: 0;
    padding: 1rem;
}

@media screen and (max-width: 650px) {
    .collapsibleArticle {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .collapsibleVisible {
        height: 1.8rem;
        width: 100%;
    }

    .collapsibleVisible>h3 {
        font-size: 0.8rem;
        padding: 0.5rem 1rem;
    }

    .collapsibleVisible>.fa-chevron-down {
        font-size: 1rem;
        padding: 0.5rem 1rem;
    }

    .collapsibleContent {
        height: 100%;
        width: 100%;
        padding-bottom: 2rem;
    }

    .collapsibleContent>p {
        font-size: 0.8rem;
        
    }
}